.hand {
  width: 4px;
  background: #F3B760;
  height: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50%;
  transform-origin: 50% 0;
  animation: all .2s ease;
  border-radius: 10px;
}