.container {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  .list {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    padding: unset;
    margin: unset;
    position: relative;

    .item {
      display: inline-block;
      height: 50%;
      font-size: 2vw;
      list-style: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: 0 100%;
      vertical-align: baseline;
      font-weight: bold;
      color: #333333;
      padding-top: 1vw;

      .number {
        display: inline-block;
        user-select: none;
      }

      @for $i from 1 through 11{
        &:nth-child(#{$i}) {
          rotate: $i * 30deg;
          .number {
            rotate: $i * -30deg;
          }
        }
      }
    }
  }
}